@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  background-color: #20252e;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #20252e;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1rem;
}

.container-scroll {
  scroll-behavior: smooth;
}

.container-scroll::-webkit-scrollbar {
  width: 18px;
  border-radius: 0.5rem;
}

.container-scroll::-webkit-scrollbar-track {
  background: white;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: solid 5px transparent;
}

.container-scroll::-webkit-scrollbar-thumb {
  border-radius: 15px;
  box-shadow: inset 0 0 10px 10px #cdcdcd;
  border: solid 5px transparent;
}

button:focus {
  outline: none;
}

.content-landing {
  height: 91vh;
}

.padding-y-1 {
  padding-top: 1px;
  padding-bottom: 1px;
}

#__next{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
